<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body style="linear-gradient(to right, rgba(255,0,100,0), rgba(255,0,200,1));">
    <div class="container">
      <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
      <div class="col-md-4 jumbotron">
        <form action="./Add" method="GET">


        <label>Enter Children_Name</label>
        <input type="text" name="t1"><br>
        <label>Enter Children_Id</label>
        <input type="text" name="t2"><br>
        <label>Enter Children_Father_Name</label>
        <input type="text" name="t3"><br>
        <label>Enter Children_Mother_Namw</label>
        <input type="text" name="t4"><br>
        <label>Enter Children_Roll_No</label>
        <input type="text" name="t5"><br>
        <label>Enter Children_Aadhar_numner</label>
        <input type="text" name="t6"><br>
        <button class="btn btn-primary">Submit</button>

      </form>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>

    </div>
  </div>
</div>
  </body>
</html>
